*~
_*
*.o
*.d
*.asm
*.sym
*.img
vectors.S
bootblock
entryother
initcode
initcode.out
kernelmemfs
mkfs
kernel/kernel
user/usys.S
.gdbinit
TAGS
FEATURE3_IMPLEMENTATION.md
FEATURE2_IMPLEMENTATION.md
FEATURE2_SUMMARY.md
FEATURE1_IMPLEMENTATION.md
FEATURE4_IMPLEMENTATION.md
